<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ask Yeezus</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Fredericka+the+Great&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <div class="div-bg">
    <h1 class="title">What question do you ask of me?</h1>
    <% if(locals.quote) { %>
      <div class="div-quote">
        <div class="blur-bg"></div>
        <span class="quote">"<%= quote %>"</span>
        <span class="kanye">-Kanye</span>
      </div>
    <% } else { %>
      <div class="shining-ball"></div>
    <% } %>
    <form action="/submit" method="post">
      <input type="text" id="question" name="question">
      <input type="submit" id="button" value="Ask Yeezus">
    </form>
  </div>
</body>
</html>